DEVICE=cpu
YOLO_MODEL_PATH=/models/yolo/train/weights/best.onnx
EDITCTC_MODEL_PATH=/models/editctc/checkpoint/best_accuracy
EDITCTC_CONFIG_PATH=/models/editctc/checkpoint/config.yml
EDITCTC_CODE_DIR=/models/editctc/code
EDITCTC_DICT_PATH=/models/editctc/code/ppocr/utils/dict/ppocrv6_dict.txt
YOLO_CONFIDENCE=0.35
