YOLO_MODEL_PATH=E:\\workspace_research\\workspace5\\workdir_text_det\\outputs\\detect_yolo11m\\best.onnx
EDITCTC_MODEL_PATH=E:\\NCKH\\workdir_waterclock\\release_EditCTC\\checkpoints\\s8192\\best_accuracy
EDITCTC_CONFIG_PATH=E:\\NCKH\\workdir_waterclock\\release_EditCTC\\checkpoints\\s8192\\config.yml
EDITCTC_DICT_PATH=E:\\NCKH\\workdir_waterclock\\release_EditCTC\\code\\ppocr\\utils\\dict\\ppocrv6_dict.txt
DEVICE=cpu
YOLO_CONFIDENCE=0.35
MAX_IMAGE_BYTES=10485760
