APP_NAME="Nylo"
APP_VERSION="1.0.0"
APP_ENV="developing"
APP_DEBUG=true
APP_URL="https://nylo.dev"
API_BASE_URL="https://your-api.com"
ASSET_PATH="assets"
SHOW_SPLASH_SCREEN=true
DEFAULT_LOCALE="en"
DEBUG_TRANSLATIONS=false
USE_DEV_PANEL="false"